:root {
  --top_gradient: #d6c9c7;
  --mid_gradient: #e8ddd2;
  --bottom_gradient: #d5d4d1;

  --primary_color: #282828;
  --primary_surface: #f0f0f0;
  --secondary_surface: #e4e4e4;

  --primary_button_background: #998d83;
  --primary_button_foreground: #e5e5e5;

  --quick_stats_background: #ede8e2;

  --light_blue: #b2d4e7;
  --light_green: #c2e1c2;
  --light_purple: #d9c8e8;
  --light_yellow: #f1e9c9;
  --light_orange: #f7d6c6;
  --light_red: #e8b8b4;
  --light_teal: #b4e8d4;
  --light_gray: #f0f0f0;

  --error_color: #a91b11;

  --navbar-height: 30px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--primary_color);
  background-color: var(--mid_gradient);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;

  /* background: linear-gradient(
    to bottom,
    var(--top_gradient),
    var(--mid_gradient),
    var(--bottom_gradient)
  ); */

  /* background: radial-gradient(
    circle,
    var(--top_gradient),
    var(--mid_gradient),
    var(--bottom_gradient)
  ); */

  /* background-color: #f0f0f0; */
}

nav {
  align-self: start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  height: var(--navbar-height);
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li a {
  color: inherit;
  text-decoration: none;
  margin-left: 12px;
}

img {
  user-select: none;
}

.hero {
  display: flex;
  flex-direction: row; /* Align heading and image horizontally */
  justify-content: space-between; /* Distribute space between them */
  align-items: center; /* Vertically center them */
  height: calc(
    100vh - var(--navbar-height)
  ); /* Make the hero take up the full viewport height */
  width: 100vw; /* Full viewport width */
  padding: 0 10%;
  box-sizing: border-box;
  max-width: 1250px;
  margin: 0 auto;
}

.heading {
  flex: 1 1 auto; /* Allow the text to grow as needed */
  max-width: 50%; /* Limit the text width to 50% of the screen */
}

.heading h1 {
  font-size: 3.6rem;
  line-height: 1.2;
  margin-bottom: 20px;
  font-weight: normal;
}

.heading h1 i {
  font-weight: bold;
  font-style: italic;
}

.benefits_list {
  list-style-type: none;
  padding: 0;
}

.benefits_list li {
  margin-bottom: 15px;
  font-size: 1.2rem;
  line-height: 1.27;
}

.phone {
  flex: 1 1 auto; /* Allow the image to grow and shrink */
  max-width: 45%; /* Limit the image width */
  max-height: 90vh; /* Ensure the image fits within the viewport height */
  object-fit: contain; /* Maintain aspect ratio */
}

.store_buttons {
  display: flex;
  margin-top: 24px;
}

.store_buttons img {
  width: 127px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column-reverse;
  }

  .heading {
    max-width: 100%;
    margin-top: 9px;
  }

  nav {
    display: none;
  }

  .heading h1 {
    margin-top: 0;
    font-size: 2.7em;
  }

  .heading ul li {
    font-size: 1em;
  }

  .phone {
    position: relative;
    max-width: 72%;
    height: auto;
    top: -36px;
    margin: 0;
    transform: rotate(18deg);
  }

  .store_buttons {
    margin-bottom: 15px;
  }
}
