:root {
  --top_gradient: #d6c9c7;
  --mid_gradient: #e8ddd2;
  --bottom_gradient: #d5d4d1;

  --primary_color: #282828;
  --primary_surface: #f0f0f0;
  --secondary_surface: #e4e4e4;

  --primary_button_background: #998d83;
  --primary_button_foreground: #e5e5e5;

  --quick_stats_background: #ede8e2;

  --light_blue: #b2d4e7;
  --light_green: #c2e1c2;
  --light_purple: #d9c8e8;
  --light_yellow: #f1e9c9;
  --light_orange: #f7d6c6;
  --light_red: #e8b8b4;
  --light_teal: #b4e8d4;
  --light_gray: #f0f0f0;

  --error_color: #a91b11;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--primary_color);
  background-color: #f0f0f0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;

  background: linear-gradient(
    to bottom,
    var(--top_gradient),
    var(--mid_gradient),
    var(--bottom_gradient)
  );

  /* background: radial-gradient(
    circle,
    var(--top_gradient),
    var(--mid_gradient),
    var(--bottom_gradient)
  ); */

  /* background-color: #f0f0f0; */
}

/* Apply basic styles for body and html */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero {
  display: flex;
  flex-direction: row; /* Align heading and image horizontally */
  justify-content: space-between; /* Distribute space between them */
  align-items: center; /* Vertically center them */
  height: 100vh; /* Make the hero take up the full viewport height */
  width: 100vw; /* Full viewport width */
  padding: 0 20px;
  box-sizing: border-box;
}

.heading {
  flex: 1 1 auto; /* Allow the text to grow as needed */
  max-width: 50%; /* Limit the text width to 50% of the screen */
}

.heading h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.benefits_list {
  list-style-type: none;
  padding: 0;
}

.benefits_list li {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.phone {
  flex: 1 1 auto; /* Allow the image to grow and shrink */
  max-width: 45%; /* Limit the image width */
  max-height: 90vh; /* Ensure the image fits within the viewport height */
  object-fit: contain; /* Maintain aspect ratio */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .hero {
    flex-direction: column; /* Stack the text and image vertically on smaller screens */
    justify-content: flex-start; /* Align items at the top */
  }

  .heading {
    max-width: 100%;
    text-align: center;
  }

  .phone {
    max-width: 80%;
    max-height: 50vh; /* Ensure the image fits within the smaller screen */
  }
}
